body {
  font-size: 14px;
  line-height:24px;
  font-family: "PT Sans Narrow",sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color:#000000;
}
h1 {
  font-size: 30px;
  line-height:42px;
  font-weight: bold;
  color: #000000;
}
h2 {
  font-size: 30px;
  line-height:42px;
  font-weight: bold;
  color: #000000;
}
h3 {
  font-size: 21px;
  line-height:26px;
  font-weight: bold;
  color: #000000;
}
